@font-face {
  font-family: eli_font;
  src: url(../assets/font/eli_font.ttf);
}

@font-face {
  font-family: eli_symbols;
  src: url(../assets/font/eli_symbols.ttf);
}

* {
  font-family: "Roboto", 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


html {
  overflow: hidden;
  height: 100%;
}

.nav-blurry {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.fixed {
  touch-action: none;
}

.no-overflow {
  overflow-y: hidden;
}

.eli_font {
  font-family: eli_font, eli_symbols, sans-serif;
  font-weight: 100;
}

.hidden {
  display: none;
}

.disabled {
  filter: saturate(0%);
}

.bubble {
  position: absolute;
  width: 20vw;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 6;

  @media screen and (max-width: 600px) {
    width: 50vw;
  }
}

body {
  background-color: #06062D;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  -webkit-perspective: 25px;
  -moz-perspective: 25px;
  perspective: 25px;

  header {

    nav {
      position: fixed;
      top: 0;
      z-index: 10;

      width: 100%;
      height: 80px;
      transition: background-color 0.3s ease;

      background-color: hsla(0, 0, 0, 0.1);


      > div {
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1500px) {
          width: 90%;
        }

        @media screen and (max-width: 992px) {
          width: 80%;
        }

        .image-wrapper {
          img {
            position: relative;
            width: 100px;
            z-index: 10;
          }
        }

        .menu-wrapper {
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-grow: 1;

          a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            margin: 0 1em;
            width: 5vw;

          }

          a:hover {
            transition: 0.3s ease;
            color: hsl(240, 100, 77);
          }

          @media screen and (max-width: 992px) {
            display: none;
          }
        }

        .socials {
          display: flex;


          @media screen and (max-width: 992px) {
            display: none;
          }


          a {
            display: flex;
            margin: 0 5px;

            img {
              height: 40px;
            }
          }
        }

        .burger {
          @media screen and (min-width: 992px) {
            display: none;
          }

          height: 25px;
          width: 40px;
          position: absolute;
          right: 10%;
          top: 50%;
          transform: translate(0, -50%);
          z-index: 100;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          cursor: pointer;

          span {
            height: 4px;
            border-radius: 2px;
            width: 100%;
            background-color: #fff;
            transition: .3s ease;
            transition-delay: .1s;
          }

          #span2 {
            transition-delay: 0s;
          }
        }

        .open {
          #span1 {
            transform: translate(0, 11px) rotate(45deg);
            transform-origin: center center;
            background-color: rgb(209, 209, 209);
          }

          #span2 {
            width: 0 !important;
          }

          #span3 {
            transform: translate(0, -10px) rotate(-45deg);
            transform-origin: center center;
          }
        }
      }
    }

    .hidden {
      height: 0 !important;

      div {
        display: none !important;
      }
    }

    .mobile {
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      background-color: rgb(0, 11, 76);
      z-index: 10;
      transition: .3s ease;

      @supports (-webkit-touch-callout: none) {
        background-color: rgb(0, 11, 76);
      }


      .menu-wrapper {
        position: absolute;
        width: 60%;
        height: 70%;
        left: 20%;
        top: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        > a {
          color: white;
          text-decoration: none;
          font-size: 16px;
          font-weight: bold;
          margin: 0 1em;

          img {
            width: 100px;
          }
        }


        .socials {
          display: none;

          @media screen and (max-width: 992px) {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          > div {
            display: flex;
            margin-bottom: 20px;
          }

          a {
            display: flex;
            margin: 0 5px;

            img {
              height: 40px;
            }
          }
        }
      }

    }
  }


  section {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .parallax {
    height: 125vw;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;

    @media screen and (max-width: 600px) {
      height: 220vw;
    }

    .layer {
      position: absolute;
      top: 0rem;
      right: 0rem;
      bottom: 0rem;
      left: 0rem;
    }

    > :nth-child(1) {
      background-image: url("../assets/sections/home/parallax/desktop/1.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transform: translateZ(-25px) scale(3.6) translateY(-28vw);
      -moz-transform: translateZ(-25px) scale(3.6) translateY(-28vw);
      transform: translateZ(-25px) scale(3.6) translateY(-28vw);
      z-index: 0;

      @media screen and (max-width: 600px) {
        -webkit-transform: translateZ(-25px) scale(4) translateY(-46vw);
        -moz-transform: translateZ(-25px) scale(4) translateY(-46vw);
        transform: translateZ(-25px) scale(4) translateY(-46vw);
      }
    }

    > :nth-child(2) {
      background-image: url("../assets/sections/home/parallax/desktop/2.svg");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transform: translateZ(-19px) scale(1.4) translateY(18vw);
      -moz-transform: translateZ(-19px) scale(1.4) translateY(18vw);
      transform: translateZ(-19px) scale(1.4) translateY(18vw);
      z-index: 1;
    }

    > :nth-child(3) {
      background-image: url("../assets/sections/home/parallax/desktop/4.svg");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transform: translateZ(-14px) scale(1.7) translateY(62vw);
      -moz-transform: translateZ(-14px) scale(1.7) translateY(62vw);
      transform: translateZ(-14px) scale(1.7) translateY(62vw);
      z-index: 2;

      @media screen and (max-width: 600px) {
        -webkit-transform: translateZ(-14px) scale(1.7) translateY(130vw);
        -moz-transform: translateZ(-14px) scale(1.7) translateY(130vw);
        transform: translateZ(-14px) scale(1.7) translateY(130vw);
      }
    }

    > :nth-child(4) {
      background-image: url("../assets/sections/home/parallax/desktop/5.svg");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transform: translateZ(-11px) scale(1.2) translateY(70vw) translateX(0);
      -moz-transform: translateZ(-11px) scale(1.2) translateY(70vw) translateX(0);
      transform: translateZ(-11px) scale(1.2) translateY(70vw) translateX(0);
      z-index: 3;

      @media screen and (max-width: 600px) {
        -webkit-transform: translateZ(-11px) scale(1.2) translateY(150vw) translateX(0);
        -moz-transform: translateZ(-11px) scale(1.2) translateY(150vw) translateX(0);
        transform: translateZ(-11px) scale(1.2) translateY(150vw) translateX(0);
      }
    }

    > :nth-child(5) {
      background-image: url("../assets/sections/home/parallax/desktop/6.svg");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transform: translateZ(-6px) scale(1.3) translateY(79vw);
      transform: translateZ(-6px) scale(1.3) translateY(79vw);
      -moz-transform: translateZ(-6px) scale(1.3) translateY(79vw);
      z-index: 4;

      @media screen and (max-width: 600px) {
        -webkit-transform: translateZ(-6px) scale(1.3) translateY(155vw);
        -moz-transform: translateZ(-6px) scale(1.3) translateY(155vw);
        transform: translateZ(-6px) scale(1.3) translateY(155vw);
      }
    }

    > :nth-child(6) {
      background-image: url("../assets/sections/home/parallax/desktop/small_trash.png");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transform: translateZ(-4px) scale(0.8) translateY(141vw) translateX(-5vw);
      -moz-transform: translateZ(-4px) scale(0.8) translateY(141vw) translateX(-5vw);
      transform: translateZ(-4px) scale(0.8) translateY(141vw) translateX(-5vw);
      z-index: 5;

      @media screen and (max-width: 600px) {
        -webkit-transform: translateZ(-4px) scale(0.7) translateY(260vw);
        -moz-transform: translateZ(-4px) scale(0.7) translateY(260vw);
        transform: translateZ(-4px) scale(0.7) translateY(260vw);
      }
    }

    > :nth-child(7) {
      -webkit-transform: translateZ(0) scale(1) translateY(30vw);
      -moz-transform: translateZ(0) scale(1) translateY(30vw);
      transform: translateZ(0) scale(1) translateY(30vw);
      margin: auto;
      width: 35%;
      z-index: 6;

      @media screen and (max-width: 600px) {
        width: 70%;
        -webkit-transform: translateZ(0) scale(1) translateY(60vw);
        -moz-transform: translateZ(0) scale(1) translateY(60vw);
        transform: translateZ(0) scale(1) translateY(60vw);
      }

      p {
        text-align: center;
        color: white;
        font-size: 24px;
        padding-bottom: 20px;

        @media screen and (max-width: 600px) {
          font-size: 17px;
        }

      }

      > div {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;

        @media screen and (max-width: 600px) {
          width: 100%;
        }

        a {
          width: 42%;
        }

        :nth-child(1) img:hover {
          filter: brightness(115%);
          transition: 0.25s ease;
        }

        :nth-child(2) img:hover {
          filter: brightness(115%);
          transition: 0.25s ease;
        }
      }
    }

    > :nth-child(8) {
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
        height: 30vw;
        width: 100vw;
        -webkit-transform: translateZ(0) scale(1) translateY(105vw);
        -moz-transform: translateZ(0) scale(1) translateY(105vw);
        transform: translateZ(0) scale(1) translateY(105vw);
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(17, 8, 40, 1) 70%, rgba(17, 8, 40, 1) 100%);
      }

      @media screen and (max-width: 600px) {
        -webkit-transform: translateZ(0) scale(1) translateY(205vw);
        -moz-transform: translateZ(0) scale(1) translateY(205vw);
        transform: translateZ(0) scale(1) translateY(205vw);
      }
    }

  }


  #story-section {
    position: relative;
    display: block;
    overflow-x: hidden;
    bottom: -115px;
    z-index: 4;

    .desktop-story {


      .tv-wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;

        img {
          width: 95vw;
        }

        .video-carousel {
          position: absolute;
          top: 16.2vw;
          left: 50.5%;

          display: flex;
          align-items: center;

          transform: translateX(-50%) translateY(-50%);


          @media screen and (max-width: 576px) {
            top: 15.4vw;
          }

          .carousel {
            padding: 0 40px;
            width: 53vw;
            display: flex;
            justify-content: center;


            :hover {
              cursor: pointer;
            }

            iframe {
              width: 50.1vw;
              height: 28.5vw;
            }

          }


          .hidden {
            display: none;
          }


          .controls {
            width: 90px;

            :hover {
              cursor: pointer;
            }


            img {
              width: 100%;

              &:hover {
                filter: brightness(90%);
              }

              &:active {
                animation-name: click;
                animation-duration: 2s;
                animation-timing-function: ease-out;
              }
            }
          }
        }

        @media screen and (max-width: 1200px) {
          img {
            width: 90vw;
          }

          .video-carousel {
            top: 15.5vw;

            .carousel {
              left: 50.9%;
              width: 50vw;

              .iframe {
                width: 47.5vw;
                height: 26.7vw;
              }
            }
          }
        }
      }


      .first_transition {
        img {
          display: block;
          width: 100.2%;
          transform: translateY(1px);
        }
      }

      .filler {
        background: rgb(114, 97, 217);
        background: linear-gradient(180deg, rgba(114, 97, 217, 1) 0%, rgba(53, 37, 107, 1) 100%);
        display: block;
        width: 100%;
        height: 40vw;

        @media screen and (max-width: 1200px) {
          height: 36vw;
        }
      }

      .second_transition {
        img {
          display: block;
          width: 100.2%;
          transform: translateY(-1px);
        }
      }
    }

    .mobile-story {
      position: relative;
      margin-top: 50px;
      overflow: hidden;
      height: 100%;
      background-color: #06062D;

      img {
        position: relative;
        display: block;
        z-index: 5;
        pointer-events: none;
      }

      iframe {
        position: absolute;
        display: block;
        top: 0;
        width: 100vw;
        height: 100%;
      }

    }


    @media screen and (max-width: 768px) {
      .desktop-story {
        display: none;
      }

      .mobile-story {
        display: block;
      }
    }


    @media screen and (max-width: 768px) {
      bottom: 0;
      padding-bottom: 0px;
      padding-top: 0;
    }
  }

  #hidden-section-1 {
    position: relative;
    display: block;
    padding-top: 0;
    padding-bottom: 0;

    .desktop-lore {
      img {
        display: block;
        width: 100%;
      }
    }

    .mobile-lore {
      img {
        display: block;
        width: 100%;
      }
    }

    @media screen and (max-width: 600px) {
      .desktop-lore {
        display: none;
      }

      .mobile-lore {
        display: block;
      }
    }
  }

  #hidden-section-2 {
    position: relative;
    display: block;
    padding-top: 0;
    padding-bottom: 0;


    .desktop-majors {
      img {
        display: block;
        width: 100%;
      }
    }

    .mobile-majors {
      img {
        display: block;
        width: 100%;
      }
    }

    @media screen and (max-width: 600px) {
      .desktop-majors {
        display: none;
      }

      .mobile-majors {
        display: block;
      }
    }
  }

  #hidden-section-3 {
    position: relative;
    display: block;
    padding-top: 0;
    padding-bottom: 250px;
    background-color: rgb(17, 8, 40);

    .desktop-team {
      img {
        display: block;
        width: 100%;
      }
    }

    .mobile-team {
      img {
        display: block;
        width: 100%;
      }
    }

    @media screen and (max-width: 600px) {
      padding-bottom: 0;

      .desktop-team {
        display: none;
      }

      .mobile-team {
        display: block;
      }
    }

  }

  #graphics_3 {
    position: relative;
    margin-top: -10vw;
    z-index: 4;
    display: block;

    .graphics {
      width: 100%;
      display: block;

      img {
        display: block;
      }
    }
  }

  #hidden-section-4 {
    position: relative;
    display: block;
    padding-top: 0;
    padding-bottom: 0;

    .desktop-roadmap {
      > img {
        display: block;
        width: 100%;
      }

    }

    .mobile-roadmap {
      img {
        display: block;
        width: 100%;
      }

      .bubble {
        top: 150px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }

    @media screen and (max-width: 600px) {
      .desktop-roadmap {
        display: none;
      }

      .mobile-roadmap {
        display: block;
      }
    }

  }


  footer {
    width: 100%;
    padding: 35px 0;
    background-color: #3900A8;

    > div {
      width: 46%;
      margin: auto;

      @media screen and (max-width: 768px) {
        width: 80%;
      }

      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;

      .image-container {
        position: relative;
        width: 140px;
        padding-right: 80px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 576px) {
          padding-right: 0px;
        }

        img {
          position: relative;
          width: 100%;
          min-width: 80px;
        }

        p {
          color: white;
          font-size: 12px;
          padding-top: 5px;
        }
      }

      .link-container {
        flex-grow: 1;
        padding-right: 50px;
        padding-left: 50px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        div {
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          margin: 0 0 .5em 0;

          p {
            color: hsl(0, 0, 100);
            font-weight: 700;
            margin: 0 0 .5em 0;
          }

          a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.8);
            margin: 0 0 .2em 0;
          }

          a:hover {
            transition: 0.3s ease;
            color: hsl(157, 81, 70);
          }
        }
      }
    }
  }
}