@font-face {
  font-family: eli_font;
  src: url(../assets/font/eli_font.ttf);
}
@font-face {
  font-family: eli_symbols;
  src: url(../assets/font/eli_symbols.ttf);
}
* {
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  overflow: hidden;
  height: 100%;
}

.nav-blurry {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.fixed {
  touch-action: none;
}

.no-overflow {
  overflow-y: hidden;
}

.eli_font {
  font-family: eli_font, eli_symbols, sans-serif;
  font-weight: 100;
}

.hidden {
  display: none;
}

.disabled {
  filter: saturate(0%) !important;
}
.disabled :hover {
  filter: brightness(100%) !important;
  cursor: default !important;
}

.bubble {
  position: absolute;
  width: 20vw;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 6;
}
@media screen and (max-width: 600px) {
  .bubble {
    width: 50vw;
  }
}

body {
  background-color: #06062D;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  -webkit-perspective: 25px;
  -moz-perspective: 25px;
  perspective: 25px;
}
body header nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0.1);
}
body header nav > div {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1500px) {
  body header nav > div {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  body header nav > div {
    width: 80%;
  }
}
body header nav > div .image-wrapper img {
  position: relative;
  width: 100px;
  z-index: 10;
}
body header nav > div .menu-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
body header nav > div .menu-wrapper a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0 1em;
  width: 5vw;
}
body header nav > div .menu-wrapper a:hover {
  transition: 0.3s ease;
  color: #8a8aff;
}
@media screen and (max-width: 992px) {
  body header nav > div .menu-wrapper {
    display: none;
  }
}
body header nav > div .socials {
  display: flex;
}
@media screen and (max-width: 992px) {
  body header nav > div .socials {
    display: none;
  }
}
body header nav > div .socials a {
  display: flex;
  margin: 0 5px;
}
body header nav > div .socials a img {
  height: 40px;
}
body header nav > div .socials a :hover {
  filter: brightness(114%);
  transition: 0.25s ease;
}
body header nav > div .burger {
  height: 25px;
  width: 40px;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  body header nav > div .burger {
    display: none;
  }
}
body header nav > div .burger span {
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: #fff;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
body header nav > div .burger #span2 {
  transition-delay: 0s;
}
body header nav > div .open #span1 {
  transform: translate(0, 11px) rotate(45deg);
  transform-origin: center center;
  background-color: #d1d1d1;
}
body header nav > div .open #span2 {
  width: 0 !important;
}
body header nav > div .open #span3 {
  transform: translate(0, -10px) rotate(-45deg);
  transform-origin: center center;
}
body header .hidden {
  height: 0 !important;
}
body header .hidden div {
  display: none !important;
}
body header .mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: #000b4c;
  z-index: 10;
  transition: 0.3s ease;
}
@supports (-webkit-touch-callout: none) {
  body header .mobile {
    background-color: #000b4c;
  }
}
body header .mobile .menu-wrapper {
  position: absolute;
  width: 60%;
  height: 70%;
  left: 20%;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body header .mobile .menu-wrapper > a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0 1em;
}
body header .mobile .menu-wrapper > a img {
  width: 100px;
}
body header .mobile .menu-wrapper .socials {
  display: none;
}
@media screen and (max-width: 992px) {
  body header .mobile .menu-wrapper .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
body header .mobile .menu-wrapper .socials > div {
  display: flex;
  margin-bottom: 20px;
}
body header .mobile .menu-wrapper .socials a {
  display: flex;
  margin: 0 5px;
}
body header .mobile .menu-wrapper .socials a img {
  height: 40px;
}
body section {
  padding-top: 70px;
  padding-bottom: 70px;
}
body .parallax {
  height: 125vw;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
@media screen and (max-width: 600px) {
  body .parallax {
    height: 220vw;
  }
}
body .parallax .layer {
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
}
body .parallax > :nth-child(1) {
  background-image: url("../assets/sections/home/parallax/desktop/1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateZ(-25px) scale(3.6) translateY(-28vw);
  -moz-transform: translateZ(-25px) scale(3.6) translateY(-28vw);
  transform: translateZ(-25px) scale(3.6) translateY(-28vw);
  z-index: 0;
}
@media screen and (max-width: 600px) {
  body .parallax > :nth-child(1) {
    -webkit-transform: translateZ(-25px) scale(4) translateY(-46vw);
    -moz-transform: translateZ(-25px) scale(4) translateY(-46vw);
    transform: translateZ(-25px) scale(4) translateY(-46vw);
  }
}
body .parallax > :nth-child(2) {
  background-image: url("../assets/sections/home/parallax/desktop/2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateZ(-19px) scale(1.4) translateY(18vw);
  -moz-transform: translateZ(-19px) scale(1.4) translateY(18vw);
  transform: translateZ(-19px) scale(1.4) translateY(18vw);
  z-index: 1;
}
body .parallax > :nth-child(3) {
  background-image: url("../assets/sections/home/parallax/desktop/4.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateZ(-14px) scale(1.7) translateY(62vw);
  -moz-transform: translateZ(-14px) scale(1.7) translateY(62vw);
  transform: translateZ(-14px) scale(1.7) translateY(62vw);
  z-index: 2;
}
@media screen and (max-width: 600px) {
  body .parallax > :nth-child(3) {
    -webkit-transform: translateZ(-14px) scale(1.7) translateY(130vw);
    -moz-transform: translateZ(-14px) scale(1.7) translateY(130vw);
    transform: translateZ(-14px) scale(1.7) translateY(130vw);
  }
}
body .parallax > :nth-child(4) {
  background-image: url("../assets/sections/home/parallax/desktop/5.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateZ(-11px) scale(1.2) translateY(70vw) translateX(0);
  -moz-transform: translateZ(-11px) scale(1.2) translateY(70vw) translateX(0);
  transform: translateZ(-11px) scale(1.2) translateY(70vw) translateX(0);
  z-index: 3;
}
@media screen and (max-width: 600px) {
  body .parallax > :nth-child(4) {
    -webkit-transform: translateZ(-11px) scale(1.2) translateY(150vw) translateX(0);
    -moz-transform: translateZ(-11px) scale(1.2) translateY(150vw) translateX(0);
    transform: translateZ(-11px) scale(1.2) translateY(150vw) translateX(0);
  }
}
body .parallax > :nth-child(5) {
  background-image: url("../assets/sections/home/parallax/desktop/6.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateZ(-6px) scale(1.3) translateY(79vw);
  transform: translateZ(-6px) scale(1.3) translateY(79vw);
  -moz-transform: translateZ(-6px) scale(1.3) translateY(79vw);
  z-index: 4;
}
@media screen and (max-width: 600px) {
  body .parallax > :nth-child(5) {
    -webkit-transform: translateZ(-6px) scale(1.3) translateY(155vw);
    -moz-transform: translateZ(-6px) scale(1.3) translateY(155vw);
    transform: translateZ(-6px) scale(1.3) translateY(155vw);
  }
}
body .parallax > :nth-child(6) {
  background-image: url("../assets/sections/home/parallax/desktop/small_trash.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateZ(-4px) scale(0.8) translateY(141vw) translateX(-5vw);
  -moz-transform: translateZ(-4px) scale(0.8) translateY(141vw) translateX(-5vw);
  transform: translateZ(-4px) scale(0.8) translateY(141vw) translateX(-5vw);
  z-index: 5;
}
@media screen and (max-width: 600px) {
  body .parallax > :nth-child(6) {
    -webkit-transform: translateZ(-4px) scale(0.7) translateY(260vw);
    -moz-transform: translateZ(-4px) scale(0.7) translateY(260vw);
    transform: translateZ(-4px) scale(0.7) translateY(260vw);
  }
}
body .parallax > :nth-child(7) {
  -webkit-transform: translateZ(0) scale(1) translateY(28vw);
  -moz-transform: translateZ(0) scale(1) translateY(28vw);
  transform: translateZ(0) scale(1) translateY(28vw);
  margin: auto;
  width: 35%;
  z-index: 6;
}
@media screen and (max-width: 600px) {
  body .parallax > :nth-child(7) {
    width: 70%;
    -webkit-transform: translateZ(0) scale(1) translateY(60vw);
    -moz-transform: translateZ(0) scale(1) translateY(60vw);
    transform: translateZ(0) scale(1) translateY(60vw);
  }
}
body .parallax > :nth-child(7) p {
  text-align: center;
  color: white;
  font-size: 24px;
  padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
  body .parallax > :nth-child(7) p {
    font-size: 17px;
  }
}
body .parallax > :nth-child(7) > div {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media screen and (max-width: 600px) {
  body .parallax > :nth-child(7) > div {
    width: 100%;
  }
}
body .parallax > :nth-child(7) > div a {
  width: 40%;
  margin-bottom: 6px;
}
@media screen and (max-width: 600px) {
  body .parallax > :nth-child(7) > div a {
    width: 50%;
  }
}
body .parallax > :nth-child(7) > div :nth-child(1) img:hover {
  filter: brightness(115%);
  transition: 0.25s ease;
}
body .parallax > :nth-child(7) > div :nth-child(2) img:hover {
  filter: brightness(115%);
  transition: 0.25s ease;
}
body .parallax > :nth-child(8) {
  display: none;
}
@media screen and (max-width: 768px) {
  body .parallax > :nth-child(8) {
    display: block;
    height: 30vw;
    width: 100vw;
    -webkit-transform: translateZ(0) scale(1) translateY(105vw);
    -moz-transform: translateZ(0) scale(1) translateY(105vw);
    transform: translateZ(0) scale(1) translateY(105vw);
    background: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #110828 70%, #110828 100%);
  }
}
@media screen and (max-width: 600px) {
  body .parallax > :nth-child(8) {
    -webkit-transform: translateZ(0) scale(1) translateY(205vw);
    -moz-transform: translateZ(0) scale(1) translateY(205vw);
    transform: translateZ(0) scale(1) translateY(205vw);
  }
}
body #story-section {
  position: relative;
  display: block;
  overflow-x: hidden;
  bottom: -115px;
  z-index: 4;
}
body #story-section .desktop-story .tv-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}
body #story-section .desktop-story .tv-wrapper img {
  width: 95vw;
}
body #story-section .desktop-story .tv-wrapper .video-carousel {
  position: absolute;
  top: 16.2vw;
  left: 50.5%;
  display: flex;
  align-items: center;
  transform: translateX(-50%) translateY(-50%);
}
@media screen and (max-width: 576px) {
  body #story-section .desktop-story .tv-wrapper .video-carousel {
    top: 15.4vw;
  }
}
body #story-section .desktop-story .tv-wrapper .video-carousel .carousel {
  padding: 0 40px;
  width: 53vw;
  display: flex;
  justify-content: center;
}
body #story-section .desktop-story .tv-wrapper .video-carousel .carousel :hover {
  cursor: pointer;
}
body #story-section .desktop-story .tv-wrapper .video-carousel .carousel iframe {
  width: 50.1vw;
  height: 28.5vw;
}
body #story-section .desktop-story .tv-wrapper .video-carousel .hidden {
  display: none;
}
body #story-section .desktop-story .tv-wrapper .video-carousel .controls {
  width: 90px;
}
body #story-section .desktop-story .tv-wrapper .video-carousel .controls :hover {
  cursor: pointer;
}
body #story-section .desktop-story .tv-wrapper .video-carousel .controls img {
  width: 100%;
}
body #story-section .desktop-story .tv-wrapper .video-carousel .controls img:hover {
  filter: brightness(90%);
}
body #story-section .desktop-story .tv-wrapper .video-carousel .controls img:active {
  animation-name: click;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
@media screen and (max-width: 1200px) {
  body #story-section .desktop-story .tv-wrapper img {
    width: 90vw;
  }
  body #story-section .desktop-story .tv-wrapper .video-carousel {
    top: 15.5vw;
  }
  body #story-section .desktop-story .tv-wrapper .video-carousel .carousel {
    left: 50.9%;
    width: 50vw;
  }
  body #story-section .desktop-story .tv-wrapper .video-carousel .carousel .iframe {
    width: 47.5vw;
    height: 26.7vw;
  }
}
body #story-section .desktop-story .first_transition img {
  display: block;
  width: 100.2%;
  transform: translateY(1px);
}
body #story-section .desktop-story .filler {
  background: #7261d9;
  background: linear-gradient(180deg, #7261d9 0%, #35256b 100%);
  display: block;
  width: 100%;
  height: 40vw;
}
@media screen and (max-width: 1200px) {
  body #story-section .desktop-story .filler {
    height: 36vw;
  }
}
body #story-section .desktop-story .second_transition img {
  display: block;
  width: 100.2%;
  transform: translateY(-1px);
}
body #story-section .mobile-story {
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  height: 100%;
  background-color: #06062D;
}
body #story-section .mobile-story img {
  position: relative;
  display: block;
  z-index: 5;
  pointer-events: none;
}
body #story-section .mobile-story iframe {
  position: absolute;
  display: block;
  top: 0;
  width: 100vw;
  height: 100%;
}
@media screen and (max-width: 768px) {
  body #story-section .desktop-story {
    display: none;
  }
  body #story-section .mobile-story {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  body #story-section {
    bottom: 0;
    padding-bottom: 0px;
    padding-top: 0;
  }
}
body #hidden-section-1 {
  position: relative;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}
body #hidden-section-1 .desktop-lore img {
  display: block;
  width: 100%;
}
body #hidden-section-1 .mobile-lore img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 600px) {
  body #hidden-section-1 .desktop-lore {
    display: none;
  }
  body #hidden-section-1 .mobile-lore {
    display: block;
  }
}
body #hidden-section-2 {
  position: relative;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}
body #hidden-section-2 .desktop-majors img {
  display: block;
  width: 100%;
}
body #hidden-section-2 .mobile-majors img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 600px) {
  body #hidden-section-2 .desktop-majors {
    display: none;
  }
  body #hidden-section-2 .mobile-majors {
    display: block;
  }
}
body #hidden-section-3 {
  position: relative;
  display: block;
  padding-top: 0;
  padding-bottom: 250px;
  background-color: #110828;
}
body #hidden-section-3 .desktop-team img {
  display: block;
  width: 100%;
}
body #hidden-section-3 .mobile-team img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 600px) {
  body #hidden-section-3 {
    padding-bottom: 0;
  }
  body #hidden-section-3 .desktop-team {
    display: none;
  }
  body #hidden-section-3 .mobile-team {
    display: block;
  }
}
body #graphics_3 {
  position: relative;
  margin-top: -10vw;
  z-index: 4;
  display: block;
}
body #graphics_3 .graphics {
  width: 100%;
  display: block;
}
body #graphics_3 .graphics img {
  display: block;
}
body #hidden-section-4 {
  position: relative;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}
body #hidden-section-4 .desktop-roadmap > img {
  display: block;
  width: 100%;
}
body #hidden-section-4 .mobile-roadmap img {
  display: block;
  width: 100%;
}
body #hidden-section-4 .mobile-roadmap .bubble {
  top: 150px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media screen and (max-width: 600px) {
  body #hidden-section-4 .desktop-roadmap {
    display: none;
  }
  body #hidden-section-4 .mobile-roadmap {
    display: block;
  }
}
body footer {
  width: 100%;
  padding: 35px 0;
  background-color: #3900A8;
}
body footer > div {
  width: 46%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  body footer > div {
    width: 80%;
  }
}
body footer > div .image-container {
  position: relative;
  width: 140px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  body footer > div .image-container {
    padding-right: 0px;
  }
}
body footer > div .image-container img {
  position: relative;
  width: 100%;
  min-width: 80px;
}
body footer > div .image-container p {
  color: white;
  font-size: 12px;
  padding-top: 5px;
}
body footer > div .link-container {
  flex-grow: 1;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
body footer > div .link-container div {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin: 0 0 0.5em 0;
}
body footer > div .link-container div p {
  color: white;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}
body footer > div .link-container div a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0 0.2em 0;
}
body footer > div .link-container div a:hover {
  transition: 0.3s ease;
  color: #75f0c1;
}

/*# sourceMappingURL=styles.css.map */
